body {
  padding: 0;
  margin: 0;
  /* background-image: url("background1.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

.flex-container {
	display: flex;
	flex-direction: row;
  max-width: 1180px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .flex-container {
    flex-direction: column-reverse;
  }
}



.link-list {
  flex: 1 1 50%;
  width: 100%;

  align-self: flex-start;
  position: sticky;
  top: 0;

  display: flex;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
}

.styled-list {
  list-style: none;
  list-style-type : none;

  padding: 1em;
  margin: 0;

  margin: auto auto;
  width: 100%;
  max-width: 400px;
}

@media only screen and (max-width: 800px) {
  .link-list {
    position: relative;
  }
}

.styled-list > a {
  text-decoration: none;
  color: #FF8600; /* or whatever color you want */

}

.styled-list li {
  transition: ease .3s;
}

.styled-list li:hover {
  box-shadow: 4px 4px #FF8600;;
  margin-left: -4px -4px;
}


.list-item {
  border: 2px solid black;
  margin: .5em 0;
  text-align: center;

  display: flex;
  flex-direction: row;
  padding: .5em;

  border-radius: 10px;


}



.link-list-icon {
  flex: 0 1;

  padding: .5em 1em .5em .5em;
  margin-right: .5em;
  font-size: 22px;
  font-weight: bold;
  border-right: 2px solid black
}

.link-list-text {
  flex: 1 0;
  display: flex;
  justify-content: center;

  padding: .5em;
  font-size: 22px;

}

.about {
  flex: 1 1 50%;
  padding: 1em;
  margin-left: 1em;
  width: 100%;
  margin: auto auto;
}

.about-container {
  max-width: 500px;
  margin: auto auto;

}

.about-container > p {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 28px;
}

.about-container > h1 {
  font-size: 60px;
  font-family: sans-serif;
  line-height: 28px;
}
